body {
  margin: 0;
  font-family: "Euclid Circular A";
  /*background: #181717 linear-gradient(60deg, #ffffff, #776a6a);*/
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.7);
  overflow-x: hidden;
}

img {
  position: fixed;
  z-index: 0;
  transition: 0.3s;
}

body img:nth-child(1) {
  width: 200px;
  top: 30px;
}

body img:nth-child(2) {
  width: 400px;
  left: 500px;
  top: 300px;
}

body img:nth-child(3) {
  width: 100px;
  left: 60px;
  top: 600px;
}

.home-content {
  position: relative;
  z-index: 1;
  padding: 100px 15%;
}

h1{
  position: relative;
  z-index: 1;
  margin: 20px 15%;
  color: #ffffff;
}

p,
h2,
h5{
  position: relative;
  z-index: 1;
  margin: 20px 15%;
  color: #ffffff;
  font-size: 18px;
}
.custom-list,
.custom-list li {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
  color: #ffffff;
  font-size: 18px;
}
p {
  opacity: 1;
  color: #ffffff;
}

section {
  padding: 40px 0;
}

.image {
  height: 380px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;  
}

.text {
  position: relative;
}

.text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 110%;
  /* background: rgba(3, 46, 70, 0.7); */
  background: rgba(50,50,100, 0.7);
  rotate: -1deg;
  translate: -50% -50%;
}

.no-parallax {
  background: none;
  z-index: 999;
}

.parallax {
  height: 50vh;
}


.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
